body {
    font-family: 'Heebo', sans-serif;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }

#board {
    display: grid;
    grid-gap: 1em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    padding: 40px;
  }

.grid-item {
    padding: 1em;
    border: 1px solid #ddd;
    text-align: center;
  }

  .green {
    background-color: #48c774;
    color: #fff;
}